<%- include('header'); -%>



<h2>About page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Distinctio ipsa quis, fugiat perferendis ea odio voluptate, fugit voluptatibus 
nemo nam expedita molestiae accusantium quod esse tempora quaerat itaque, accusamus nesciunt.</p>

<%- include('footer'); -%>